<template>
  <v-alert dense outlined :type="type" :color="color" class="text-center"><slot></slot></v-alert>
</template>

<script>
/** Composant d'alerte, utilisé depuis divers endroits, paramétrable par props et contenu ajouté par slot. */
export default {
  name: 'Alert',
  props: ['type', 'color']
}
</script>

<style scoped></style>