<template>
  <v-col class="appFooter">
    {{new Date().getFullYear()}} — <strong>Copyright Arthur Ringot</strong> — This website uses the <a href="https://www.igdb.com/api" target="_blank">IGDB api</a> and <a href="https://vuetifyjs.com/en/" target="_blank">Vuetify</a> as its UI library.
  </v-col>
</template>

<script>
/** Composant Footer. */
export default {name: 'Footer'}
</script>

<style scoped>
.appFooter{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
</style>