<template>
  <v-container>
    <v-card class="overflow-hidden">
      <v-app-bar fixed color="primary" class="gameBar" :height="windowHeight*0.42" dark shrink-on-scroll :src="getBackground" fade-img-on-scroll scroll-target="#app">
        <template v-slot:img="{ props }">
          <v-img transition="slide-x-transition" v-bind="props" gradient="to top right, rgba(25, 118, 210,1), rgba(30, 136, 229,0.1)">
            <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
            </v-row>
            </template>
          </v-img>
        </template>
      <v-btn icon :to="{ path: '/'}">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-app-bar-title class="font-weight-thin">{{game.name}}</v-app-bar-title>
      <template v-slot:extension v-if="!loading">
        <div class="subtitle-1 font-weight-thin" v-if="game.genres != null"><b>Genre<span v-if="game.genres.length>1">s</span>:</b> {{genres}}</div>
      </template>
      </v-app-bar>
        <div v-if="!loading" class="d-flex justify-space-between overflow-y-auto details">
          <div class="subtitle-1 text">
            <v-card-subtitle>
              <b v-if="checkRelease">Ratings: </b>
              <b v-if="!checkRelease"><Alert color="info">No ratings available, the game is not yet released.</Alert></b>
            </v-card-subtitle>
            <v-card-text v-if="checkRelease">
              <div v-if="game.rating_count != null">
                <br>
                <b>IGDG User rating score:</b><span v-if="game.rating_count > 0"> (based on {{game.rating_count}} user rating<span v-if="game.rating_count>1">s</span>)</span>
                <v-rating :value="userScore" readonly color="warning" :small="$vuetify.breakpoint.smAndDown" :large="$vuetify.breakpoint.mdAndUp" half-increments length="10"></v-rating>
              </div>
              <div v-if="game.rating_count == null">
                <br>
                <b>No IGDG User rating.</b>
              </div>
              <div v-if="game.aggregated_rating_count != null">
                <br>
                <b>Critic rating score:</b><span v-if="game.aggregated_rating_count > 0"> (based on {{game.aggregated_rating_count}} critic rating<span v-if="game.aggregated_rating_count>1">s</span>)</span>
                <v-rating :value="criticScore" readonly color="warning" :small="$vuetify.breakpoint.smAndDown" :large="$vuetify.breakpoint.mdAndUp" half-increments length="10"></v-rating>
              </div>
              <div v-if="game.aggregated_rating_count == null">
                <br>
                <b>No Critic rating.</b>
              </div>
            </v-card-text>
            <v-card-text v-if="!checkRelease">
              <div v-if="game.hypes != null">
                <br>
                <p><b>Current hype (IGDB users interested in this game): </b>{{game.hypes}}</p>
              </div>
            </v-card-text>
            <v-card-text>
              <div v-if="releaseDate != null">
                <p><b>Initial release date:</b> {{releaseDate}}</p>
              </div>
              <div v-if="game.platforms != null">
                <br>
                <p><b>Available platform<span v-if="game.platforms.length>1">s</span>:</b> {{platforms}}</p>
              </div>
              <div v-if="game.themes != null">
                <br>
                <p><b>Game theme<span v-if="game.themes.length>1">s</span>:</b> {{themes}}</p>
              </div>
            </v-card-text>
            <v-card-text class=text-center>
              <v-spacer />
              <div class="websiteButtonMd text-center justify-center" v-if="$vuetify.breakpoint.mdAndDown">
                <v-btn color="primary" small :href="getWebsite" target="_blank">Access the official website<v-icon right>mdi-web</v-icon></v-btn>
              </div>
              <v-spacer />
            </v-card-text>
          </div>
          <div class="rightComponent" v-if="!$vuetify.breakpoint.mdAndDown">
            <v-avatar class="ma-4" size="320px" tile>
              <v-img :src="game.cover.url" contain height="320px"></v-img>
            </v-avatar>
            <div v-if="getWebsite != ''">
              <v-btn class="websiteButton" color="primary" :small="$vuetify.breakpoint.mdAndDown" :href="getWebsite" target="_blank">Access the official website<v-icon right>mdi-web</v-icon></v-btn>
            </div>
          </div>
        </div>
        <div>
        <v-divider></v-divider>
        <v-expansion-panels multiple>
          <v-expansion-panel v-if="game.summary != null">
            <v-expansion-panel-header v-slot="{ open }">
              <span v-if="!open">Summary (click to expand)</span>
              <span v-else>Summary (click to reduce)</span>
            </v-expansion-panel-header>
            <v-expansion-panel-content class="justifyText">{{game.summary}}</v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel v-if="game.storyline != null">
            <v-expansion-panel-header v-slot="{ open }">
              <span v-if="!open">Storyline (click to expand)</span>
              <span v-else>Storyline (click to reduce)</span>
            </v-expansion-panel-header>
            <v-expansion-panel-content class="justifyText">{{game.storyline}}</v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel v-if="this.game.screenshots != null">
            <v-expansion-panel-header v-slot="{ open }">
              <span v-if="!open">Screenshots gallery (click to expand)</span>
              <span v-else>Screenshots gallery (click to reduce)</span>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row>
                <v-col v-for="(element, i) in this.game.screenshots" :key="i" class="d-flex child-flex" cols="4">
                  <v-hover v-slot="{ hover }">
                    <v-img :class="{ 'on-hover': hover } + ' pictures'" @click="selectedItem = element.url" :src="element.url" :lazy-src="element.url" contain>
                      <template v-slot:placeholder>
                        <v-row class="fill-height ma-0" align="center" justify="center">
                          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                        </v-row>
                      </template>
                      <template v-if="hover">
                        <v-row class="fill-height ma-0" align="center" justify="center">
                          <v-icon>mdi-magnify-plus</v-icon>
                        </v-row>
                      </template>
                    </v-img>
                  </v-hover>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel v-if="this.game.artworks != null">
            <v-expansion-panel-header v-slot="{ open }">
              <span v-if="!open">Artworks gallery (click to expand)</span>
              <span v-else>Artworks gallery (click to reduce)</span>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row>
                <v-col v-for="(element, i) in this.game.artworks" :key="i" class="d-flex child-flex" cols="4">
                  <v-hover v-slot="{ hover }">
                    <v-img :class="{ 'on-hover': hover } + ' pictures'" @click="selectedItem = element.url" :src="element.url" :lazy-src="element.url" contain>
                      <template v-slot:placeholder>
                        <v-row class="fill-height ma-0" align="center" justify="center">
                          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                        </v-row>
                      </template>
                      <template v-if="hover">
                        <v-row class="fill-height ma-0" align="center" justify="center">
                          <v-icon>mdi-magnify-plus</v-icon>
                        </v-row>
                      </template>
                    </v-img>
                  </v-hover>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </v-card>
    <v-overlay v-if="selectedItem" @click="selectedItem = null" class="overlayContainer">
      <img :src="selectedItem? selectedItem :''">
    </v-overlay>
  </v-container>
</template>

<script>
import * as gameService from '../services/gameService';
import Alert from './Alert.vue';

/** Composant permettant d'afficher les informations d'un jeu de manière très complète. */
export default {
  name: 'GameDetails',
  components: {
    Alert
  },
  data: () => ({
    // Description des données utilisées pour un affichage de jeu complet.
    game: {
      cover: {},
      artworks: [],
      screenshots: [],
      websites: [],
      first_release_date: "",
      genres: [],
      themes: [],
      name: "",
      platforms: [],
      aggregated_rating:0,
      aggregated_rating_count:0,
      rating:0,
      rating_count:0,
      hypes: 0,
      storyline: "",
      summary: ""
    },
    loading: true,
    windowHeight: window.innerHeight,
    selectedItem: ""
  }),
  methods: {
    /** Retour à la page d'accueil. */
    async back(){
      this.router.go(1)
    },
    /** Permet d'arrondir un nombre à 0.5 prés. */
    roundHalf(num) {
      return Math.round(num*2)/2;
    }
  },
  computed: {
    /** Permet d'afficher les genres du jeu en liste. */
    genres(){
      return gameService.getGameGenresForView(this.game.genres);
    },
    /** Permet d'afficher les plateformes supportées par le jeu en liste. */
    platforms(){
      return gameService.getGamePlatformsForView(this.game.platforms);
    },
    /** Permet d'afficher les thèmes du jeu en liste. */
    themes(){
      return gameService.getGameThemesForView(this.game.themes);
    },
    /** Permet d'afficher la date de sortie initiale du jeu avec un formatage spécifique. */
    releaseDate(){
      var a = new Date(this.game.first_release_date * 1000);
      var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      var year = a.getFullYear();
      var month = months[a.getMonth()];
      var date = a.getDate();
      var time = date + ' ' + month + ' ' + year;
      return time;
    },
    /** Permet de ramener le userRating sur une échelle de 10 avec incrément autorisé de 0.5.*/
    userScore(){
      return this.roundHalf(this.game.rating/10);
    },
    /** Permet de ramener le criticRating sur une échelle de 10 avec incrément autorisé de 0.5.*/
    criticScore(){
      return this.roundHalf(this.game.aggregated_rating/10);
    },
    /** Permet de générer le background de la barre du haut selon les possibilités d'images à disposition. */
    getBackground(){
      if(this.game.artworks != null)
        if(this.game.artworks.length > 0)
          return this.game.artworks[Math.floor(Math.random() * this.game.artworks.length)].url;
      if(this.game.screenshots != null)
        if(this.game.screenshots.length > 0)
          return this.game.screenshots[Math.floor(Math.random() * this.game.screenshots.length)].url;
      return this.game.cover.url;
    },
    /** Permet de récupérer le site web principal du jeu. */
    getWebsite(){
      let website = '';
      if(this.game.websites != null){
        for(const element of this.game.websites){
          if(element.category == 1)
            website = element.url;
        }
      }
      return website;
    },
    /** Vérifie la date de Release du jeu pour ajuster l'affichage. */
    checkRelease(){
      return new Date(this.game.first_release_date * 1000) < Date.now();
    }
  },
  /** Une fois le composant créé... */
  async created() {
    this.loading = true;
    /** On récupère le jeu avec toutes les informations nécessaires. */
    await gameService.getGame(this.$route.params.id).then(res => {
      this.game = res;
      this.loading = false;
    });
  }
}
</script>

<style scoped>
.details {
  text-align: justify;
  margin-top: 44vh;
}

.gameBar{
  margin-right: 17px;
}

.rightComponent{
  text-align: center;
}

.websiteButton {
  margin: 16px;
}

.websiteButtonMd{
  text-align: center;
}

.pictures {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

/** Gestion du hover de chaque image. */
.pictures:hover {
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.v-app-bar-title__content{
  width: 65vw !important;
  text-align: justify;
}

.text{
  text-align: justify;
  display: inline-block;
}

.overlayContainer img{
  max-height:85vh;
  max-width: 85vw;
}
</style>