<template>
  <v-card :to="'/game/'+game.id">
    <v-container class="flexcard">
      <v-img class="mx-auto" contain :src="game.cover.url" :lazy-src="game.cover.url" height="12vh"></v-img>
      <v-card-title class="justify-center">
        <span class="d-inline-block text-truncate">{{game.name}}</span>
      </v-card-title>
      <v-card-subtitle>
        <span style="max-width: 200px;" class="d-inline-block text-truncate">{{gameGenre}}</span>
      </v-card-subtitle>
      <v-card-actions>
        <v-btn @click.stop color="accent" text :href="game.url" target="_blank">Access the website</v-btn>
        <v-spacer></v-spacer>
        <v-btn @click.prevent icon @click="show = !show"><v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon></v-btn>
      </v-card-actions>
    </v-container>
    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>
        <v-card-text class="justifyText">{{game.summary}}</v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
import * as gameService from '../services/gameService';

/** Composant permettant d'afficher les informations d'un jeu de manière simple et légère. */
export default {
  name: 'Game',
  props: {
    // Description des données utilisées pour un affichage de jeu simple.
    game: {
      id: "",
      cover: {},
      genres: [],
      name: "",
      summary: "",
      url: ""
    }
  },
  data: () => ({
    // Le "show" permet de contrôler l'affichage du résumé de jeu.
    show: false
  }),
  computed: {
    // Vérifie si le jeu possède un ou des genres. Permet un affichage simplifié.
    gameGenre(){
      return gameService.getGameGenresForView(this.game.genres);
    }
  }
}
</script>

<style scoped>
.flexcard {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
}
.flexcard .v-expand-transition {
  flex: 0;
}
</style>