<template>
  <div>
    <v-app-bar rounded fixed class="header">
      <v-app-bar-nav-icon @click="enableDrawer"></v-app-bar-nav-icon>
      <v-app-bar-title>
        <v-btn text to="/" x-large>Game library</v-btn>
      </v-app-bar-title>
      <v-spacer></v-spacer>
      <SearchBar v-if="showSearchBar && !$vuetify.breakpoint.smAndDown" @search:text="updateGameSearch"></SearchBar>
      <v-spacer></v-spacer>
      <v-btn v-if="!$vuetify.breakpoint.smAndDown" class="searchIcon" icon @click="showSearchBar = !showSearchBar"><v-icon>{{ showSearchBar ? 'mdi-close' : 'mdi-magnify' }}</v-icon></v-btn>
      <v-divider vertical></v-divider>
      <v-btn v-if="!$store.state.connected" text @click="login" class="headerButtons">Login</v-btn>
      <v-btn v-if="$store.state.connected" text @click="logout" class="headerButtons">Logout</v-btn>
    </v-app-bar>
    <Toast :state="showSnackBar">Logged off!</Toast>
  </div>
</template>

<script>
import store from '../store';
import Toast from './Toast.vue';
import SearchBar from './SearchBar.vue';

/** Composant Header. */
export default {
  name: 'Header',
  components: {
    Toast,
    SearchBar
  },
  // Variables permettant de contrôler l'affichage de certains éléments.
  data: () => ({
    showSearchBar: false,
    drawer: false,
    showSnackBar: false
  }),
  methods: {
    /** Mise à jour de la recherche, est trigger par le emit du composant fils : SearchBar. */
    updateGameSearch(value) {
      this.$emit('search:text', value);
    },
    /** Activation du drawer. */
    enableDrawer(){
      this.$emit('drawer:control', true);
    },
    /** Ouverture de la boite de login. Est appelé également par le composant de navigation (drawer).*/
    login() {
      this.$emit('login:dialog', true);
      this.showSnackBar = false;
    },
    /** Déconnexion. */
    logout() {
      store.commit('logout')
      localStorage.removeItem('auth');
      this.showSnackBar = true;
    }
  },
  /** Permet de rendre accessible ce composant à partir d'autres composants rapidement. */
  created() {
    this.$root.$refs.Header = this;
  }
}
</script>

<style scoped>
.v-btn--active::before, .v-btn:focus::before {
  opacity: 0 !important;
}

.searchIcon{
  margin-right: 20px;
}

.headerButtons{
  margin-left: 16px;
}

.header{
  margin-right: 17px;
}
</style>