<template>
  <v-container>
    <SearchBar v-if="$vuetify.breakpoint.smAndDown" @search:text="udpateSearch"></SearchBar>
    <div v-if="!loading">
      <br>
      <div v-if="library.length > 0">
        <Paginator justify="center" @game:update="newPage" :count="count"></Paginator>
        <v-row class="grid" justify="center">
          <v-col class="fill-height" cols="12" sm="5" md="4" lg="3" v-for="(element, i) in library" :key="i" >
            <Game :game="element"></Game>
          </v-col>
        </v-row>
      </div>
      <div v-else>
        <Alert color="info">No game found.</Alert>
      </div>
    </div>
    <div v-else><br><v-progress-linear indeterminate color="primary"></v-progress-linear></div>
  </v-container>
</template>

<script>
import * as gameService from '../services/gameService';
import store from '../store';
import Paginator from './Paginator.vue';
import Game from './Game.vue';
import Alert from './Alert.vue';
import SearchBar from './SearchBar.vue';

/** Composant principal : Affichage de la liste des jeux. */
export default {
  name: 'Home',
  components: {
    Paginator,
    Game,
    Alert,
    SearchBar
  },
  /** Ce composant peut recevoir une prop : la recherche à effectuer. */
  props: ['search'],
  data(){
    return{
      // Stocke l'ensemble des jeux.
      library: [],
      loading: true,
      // Beaucoup de variables utilisent le store afin de garder le contenu à jour en changeant de route.
      limit: store.state.limit,
      localSearch: store.state.search,
      count: store.state.count,
      offset: store.state.offset,
      sort: store.state.sort,
      filters: store.state.filters
    }
  },
  methods: {
    /** Est appelé à chaque fois que la librairie de jeux doit être mise à jour. */
    async refreshGames(){
      this.loading = true;
      /** On utilise les différentes variables nécessaires à la création de requête. */
      await gameService.getGames(this.localSearch, this.limit, this.offset, this.sort, this.filters).then(res =>{
        this.library = res;
        this.loading = false;
      });
    },
    /** Changement de "page" pour la librairie en faisant appel à l'api, utilise un offset. */
    async newPage(value){
      this.offset = value;
      await this.refreshGames();
    },
    /** Est trigger à chaque fois que le champ de saisie recherche a été modifié. */
    udpateSearch(value){
      if(value != null){
        let tmpSearch = value.trim();
        this.localSearch = tmpSearch.length>0 ? tmpSearch : null;
      }
      else
        this.localSearch = null;
      this.filters = store.state.filters;
      /** Emit permettant de renseigner au composant parent l'état de la recherche.
       * Le composant parent est en charge de la prise en charge centralisé de cette recherche.
       * De plus, il doit connaître l'état de la recherche afin de désactiver le tri si nécessaire.
       */
      this.$emit('search:text', this.localSearch);
      this.resetPaginatorAndRefresh();
    },
    /** Méthode à appeler dès que : une recherche / un tri / un filtrage est réalisé. */
    resetPaginatorAndRefresh(){
      store.commit('setCurrent', 1);
      store.commit('setOffset', 0);
      this.current = 1;
      this.offset = 0;
      this.refreshGames();
    }
  },
  /** Ces méthodes computed sont directement reliées à leurs méthodes watch respectives (portant le même nom).
   * Cela permet d'éxecuter du code selon la variable modifiée dans le store.
   */
  computed: {
    getCount() {
      return store.state.count;
    },
    getOffset() {
      return store.state.offset;
    },
    getFilters(){
      return store.state.filters;
    },
    getSort(){
      return store.state.sort;
    },
    getLimit(){
      return store.state.limit;
    }
  },
  /** Chaque méthode watch permet de mettre à jour les variables dépendantes du store.
   * Dans certains cas, on effectue également un rafraîchissement de la librairie (en cas de nouvelle recherche par exemple).
   */
  watch: {
    getCount(newCount) {
      this.count = newCount;
    },
    getOffset(newOffset) {
      this.offset = newOffset;
    },
    search: function (value) {
      this.udpateSearch(value);
    },
    getFilters(newFilters){
      this.filters = newFilters;
      this.resetPaginatorAndRefresh();
    },
    getSort(newSort){
      this.sort = newSort;
      this.resetPaginatorAndRefresh();
    },
    async getLimit(newLimit){
      this.limit = newLimit;
      this.resetPaginatorAndRefresh();
    }
  },
  /** Une fois le composant créé, on récupère tous les jeux à afficher dans la page d'accueil. */
  async created() {
    await this.refreshGames();
  }
}
</script>

<style scoped>
.grid{
  margin-top: 10px;
}
</style>