<template>
  <div>
    <v-dialog v-model="localOpen" max-width="600px" min-width="360px">
      <div>
        <v-card class="px-4">
          <v-card-title>Login</v-card-title>
          <v-card-text>
            <v-form ref="loginForm" v-model="valid" lazy-validation>
              <v-row>
                <v-col cols="12">
                  <v-text-field autofocus @keyup.enter="tryLogin" v-model="loginForm.userName" dense label="Username" required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field @keyup.enter="tryLogin" v-model="loginForm.password" dense :append-icon="show?'mdi-eye':'mdi-eye-off'" :type="show ? 'text' : 'password'" label="Password" required @click:append="show = !show"></v-text-field>
                </v-col>
                <v-col v-if="showError" cols="12">
                  <Alert color="error">Incorrect login or password.</Alert>
                </v-col>
                <v-col class="d-flex" cols="6" sm="6" xsm="3">
                  <v-btn outlined x-large @click="cancel">Cancel</v-btn>
                </v-col>
                <v-spacer></v-spacer>
                <v-col align-end class="d-flex" cols="12" sm="6" xsm="12">
                  <v-btn :disabled="!valid" block color="primary" x-large @click="tryLogin">Login</v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </div>
    </v-dialog>
    <Toast :state="showSnackBar">Logged in!</Toast>
  </div>
</template>

<script>
import * as authService from '../services/authService';
import store from '../store';
import Toast from './Toast.vue';
import Alert from './Alert.vue';

/** Composant avec une boite de dialogue login. */
export default {
  name: 'Login',
  components: {
    Toast,
    Alert
  },
  props: ['open'],
  data() {
    return {
      loginForm: {
        userName: '',
        password: ''
      },
      show: false,
      valid: true,
      dialog: false,
      showError: false,
      showSnackBar: false,
      localOpen: this.open
    }
  },
  methods: {
    /** Est appelé pour vérifier le login. */
    tryLogin() {
      if(authService.authenticate(this.loginForm.password)){
        /** Ajout de quelques informations de login dans le stockage navigateur local. */
        localStorage.setItem('auth', btoa(this.loginForm.userName + ":" + this.loginForm.password));
        localStorage.setItem('id', this.loginForm.userName);
        /** Mise à jour du store. */
        store.commit('login');
        store.commit('identify', this.loginForm.userName);
        this.showSnackBar = true;
        /** On peut quitter la boite de dialogue. */
        this.cancel();
      }
      else {
        this.showError = true;
      }
    },
    /** Permet de gérer la fermeture de la boite de dialogue. */
    cancel() {
      this.localOpen = false;
      this.$emit('login:closeDialog', true);
    },
    /** On vide le formulaire dès que nécesssaire. */
    clearForm(){
      this.showSnackBar = false;
      this.showError = false;
      this.loginForm.userName = '';
      this.loginForm.password = '';
    }
  },
  watch: {
    /** On surveille l'ouverture potentielle de ce composant. */
    open: function () {
      this.localOpen = true;
      this.clearForm();
    }
  }
}
</script>

<style scoped></style>