<template>
  <v-container>
    <p class="text-h5">Filtering and sorting panels</p>
    <div class="welcome" v-if="$store.state.connected">Welcome {{$store.state.identifier}}</div>
    <v-expansion-panels multiple :disabled="!$store.state.connected" :value="disablePanels">
      <div v-if="!$store.state.connected">
        <Alert color="info">You need to be log in to use sorting and filtering panels.</Alert>
        <v-btn color="primary" @click="login" class="logInButton">Login</v-btn>
        <v-divider></v-divider>
        <br>
      </div>
      <v-expansion-panel>
        <v-expansion-panel-header>Sorting panel</v-expansion-panel-header>
        <v-expansion-panel-content>
          <Alert color="warning" v-if="sortDisabled">Sorting is not applicable when using the search bar.</Alert>
          <v-list>
            <v-list-item>
              <v-autocomplete :disabled="sortDisabled" dense solo clearable v-model="selectedSortField" :items="sortFields" item-text="name" item-value="value"></v-autocomplete>
            </v-list-item>
            <v-list-item>
              <v-autocomplete :disabled="sortDisabled" dense solo clearable v-model="selectedSortOrder" :items="sortOrders" item-text="name" item-value="value"></v-autocomplete>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <div class="d-flex flex-row mb-4 justify-center">
                  <v-btn outlined :disabled="sortDisabled" @click="resetSort">Reset</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" :disabled="sortDisabled" @click="applySort">Apply sort</v-btn>
                </div>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Filtering panel</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="text-h7">Game modes:</v-list-item-title>
                <v-autocomplete chips dense solo clearable deletable-chips multiple small-chips v-model="selectedGameModes" :items="gameModes" item-text="name" item-value="id"></v-autocomplete>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="text-h7">Game genres:</v-list-item-title>
                <v-autocomplete chips dense solo clearable deletable-chips multiple small-chips v-model="selectedGameGenres" :items="gameGenres" item-text="name" item-value="id"></v-autocomplete>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="text-h7">Game themes:</v-list-item-title>
                <v-autocomplete chips dense solo clearable deletable-chips multiple small-chips v-model="selectedGameThemes" :items="gameThemes" item-text="name" item-value="id"></v-autocomplete>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="text-h7">Game category:</v-list-item-title>
                <v-autocomplete dense solo clearable v-model="selectedGameCategory" :items="gameCategories" item-text="name" item-value="id"></v-autocomplete>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="text-h7">Game status:</v-list-item-title>
                <v-autocomplete dense solo clearable v-model="selectedGameStatus" :items="gameStatus" item-text="name" item-value="id"></v-autocomplete>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <v-list-item-title class="text-h7">Date filter</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-switch v-model="filterUpcomingGames" label="Get only upcoming games"></v-switch>
              </v-list-item-content>
            </v-list-item>
            <v-list-item v-if="!filterUpcomingGames">
              <v-select dense v-model="selectedFilterDateType" clearable :items="filterDateTypes" item-text="name" item-value="value" single-line></v-select>
            </v-list-item>
            <v-list-item v-if="!filterUpcomingGames">
              <v-menu v-model="menu" :close-on-content-click="false" transition="scale-transition" offset-y max-width="290px" min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field dense v-model="date" clearable label="Date" prepend-icon="mdi-calendar" v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker dense v-model="date" :max="nowDate" no-title @input="menu = false"></v-date-picker>
              </v-menu>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <div class="d-flex flex-row mb-4 justify-center">
                  <v-btn outlined @click="resetFilter">Reset</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" @click="applyFilter">Apply filter</v-btn>
                </div>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <br>
    <v-divider></v-divider>
    <v-switch label="Toggle dark theme" v-model="darkMode"></v-switch>
  </v-container>
</template>

<script>
import * as gameService from '../services/gameService';
import store from '../store';
import Alert from './Alert.vue'

/** Composant Drawer de navigation. Gére le tri, le filtrage des jeux ainsi que les paramètres d'app. */
export default {
  name: 'NavDrawer',
  components: {
    Alert
  },
  props: ['search'],
  data: () => ({
    nowDate: new Date().toISOString().slice(0,10),
    sortFields: [],
    sortOrders: [],
    gameModes: [],
    selectedGameModes: [],
    gameGenres: [],
    selectedGameGenres: [],
    gameThemes: [],
    selectedGameThemes: [],
    gameStatus: [],
    gameCategories: [],
    filterDateTypes: [],
    // On applique une valeur par défaut pour le tri.
    selectedSortField: 'total_rating_count',
    selectedSortOrder: 'desc',
    selectedFilterDateType: '',
    date: '',
    selectedGameStatus: 0,
    selectedGameCategory: 0,
    filterUpcomingGames: false,
    menu: false,
    sortDisabled: false,
    darkMode: true
  }),
  methods: {
    /** Récupère les modes de jeu. */
    async getGameModes() {
      await gameService.getGameModes().then(res =>{
        this.gameModes = res;
      })
    },
    /** Récupère les genres de jeu. */
    async getGameGenres() {
      await gameService.getGameGenres().then(res =>{
        this.gameGenres = res;
      })
    },
    /** Récupère les thèmes de jeu. */
    async getGameThemes() {
      await gameService.getGameThemes().then(res =>{
        this.gameThemes = res;
      })
    },
    /** Récupère les catégories de jeu. */
    getGameCategories() {
      this.gameCategories = gameService.gameCategories;
    },
    /** Récupère les statuts de jeu. */
    getGameStatus() {
      this.gameStatus = gameService.gameStatus;
    },
    /** Récupère les champs utilisables par le tri. */
    getSortFields() {
      this.sortFields = gameService.sortFields;
    },
    /** Récupère les ordres de tri. */
    getSortOrders() {
      this.sortOrders = gameService.sortOrders;
    },
    /** Récupère les types de filtrage par date. */
    getFilterDateTypes() {
      this.filterDateTypes = gameService.filterDateTypes;
    },
    /** Application du filtre. */
    applyFilter(){
      // Mise à jour du store afin de garder les paramètres de filtrage en mémoire.
      store.commit('setFilters', {
        gameModes: this.selectedGameModes,
        gameGenres: this.selectedGameGenres,
        gameThemes: this.selectedGameThemes,
        gameCategory: this.selectedGameCategory,
        gameStatus: this.selectedGameStatus,
        date: this.date,
        selectedFilterDateType: this.selectedFilterDateType,
        filterUpcomingGames: this.filterUpcomingGames
      });
    },
    /** Application du tri. */
    applySort(){
      // Mise à jour du store afin de garder les paramètres de tri en mémoire.
      store.commit('setSort', {
        field: this.selectedSortField,
        order: this.selectedSortOrder
      });
    },
    /** Réinitialisation  du filtrage. */
    resetFilter(){
      this.selectedGameModes = [];
      this.selectedGameGenres = [];
      this.selectedGameThemes = [];
      this.selectedGameCategory = 0;
      this.selectedGameStatus = 0;
      this.filterUpcomingGames = false;
      this.selectedFilterDateType = '';
      this.date = '';
    },
    /** Réinitialisation du tri. */
    resetSort(){
      this.selectedSortField = 'total_rating_count';
      this.selectedSortOrder = 'desc';
    },
    /** Gestion du mode nuit. */
    handledarkmode () {
      if (process.browser) {
        // On vérifie la valeur du switch.
        if (this.darkMode === true) {
          this.$vuetify.theme.dark = true;
          // Mise à jour du stockage locale navigateur.
          localStorage.setItem('DarkMode', true);
        } else if (this.darkMode === false) {
          this.$vuetify.theme.dark = false;
          localStorage.setItem('DarkMode', false);
        }
      }
    },
    /** Gestion du login depuis le nav drawer. */
    login() {
      // Afin d'éviter la répétition de code, on fait appel à la méthode du Header.
      this.$root.$refs.Header.login();
    }
  },
  computed:{
    /** Réduit la taille des panneaux de tri et filtrage si déconnecté. */
    disablePanels(){
      return store.state.connected ? [0, 2] : [];
    }
  },
  /* Surveillance de quelques variables. */
  watch: {
    /* Mise à jour de la recherche de jeu -> Le tri est désactivé si la recherche contient une valeur. */
    search: function (value) {
      this.sortDisabled = (value != null);
    },
    /* Gestion du mode nuit. */
    darkMode () {
      this.handledarkmode();
    }
  },
  /* A la création du composant... */
  async created () {
    // Recherche dans le stockage local du navigateur pour le thème.
    if (process.browser) {
      if (localStorage.getItem('DarkMode')) {
        const cookieValue = localStorage.getItem('DarkMode') === 'true';
        this.darkMode = cookieValue;
        this.$vuetify.theme.dark = cookieValue;
      } else {
        this.handledarkmode();
      }
    }
    /* on récupère les données pour nos différents select / autocomplete. */
    await this.getGameModes();
    await this.getGameGenres();
    await this.getGameThemes();
    this.getGameCategories();
    this.getGameStatus();
    this.getSortFields();
    this.getSortOrders();
    this.getFilterDateTypes();
  }
}
</script>

<style scoped>
.logInButton{
  margin-bottom: 16px;
}

.welcome{
  margin-bottom: 10px;
}

.v-expansion-panel {
  background-color: var(--v-background-base) !important;
}
</style>