<template>
  <v-row class="justify-center paginator align-baseline">
    <v-col cols="2" v-if="!$vuetify.breakpoint.smAndDown">
      <v-select v-model="limit" :items="itemsLimits" dense persistent-hint hint="Games per page"></v-select>
    </v-col>
    <v-col :cols="!$vuetify.breakpoint.smAndDown ? '8' : '12'">
      <v-pagination v-model="current" :length="max" :total-visible="$vuetify.breakpoint.mdAndDown ? '8' : '14'"></v-pagination>
    </v-col>
    <v-col cols="2" v-if="!$vuetify.breakpoint.smAndDown">
      <v-text-field v-model="customCurrent" @keyup.enter="customPage" min="0" :max="max" dense hint="Press enter to confirm." label="Custom page entry" type="number" oninput="if(Number(this.value) > Number(this.max)) this.value = this.max; else if(Number(this.value) < 1) this.value = 1;" ></v-text-field>
    </v-col>
  </v-row>
</template>

<script>
import store from '../store';


/** Composant Paginateur pour la page d'accueil. */
export default {
  name: 'Paginator',
  props: ['count'],
  // Certaines variables sont définies par leurs props respectives. D'autres sont dépendantes du store.
  data(){
    return{
      localCount: this.count,
      limit: store.state.limit,
      offset: store.state.offset,
      current: store.state.current,
      customCurrent: store.state.current,
      max: 0,
      itemsLimits: [12, 24, 48, 72, 108],
    }
  },
  methods: {
    /** Re-adapte les données du paginateur si nécessaire. */
    refreshPaginator(){
      this.current = 1;
      this.offset = 0;
      this.computeMax();
    },
    /** Met à jour la variable de page sélectionnée avec la nouvelle valeur. */
    customPage(){
      this.current = parseInt(this.customCurrent);
    },
    computeMax(){
      this.max = Math.ceil(this.localCount / this.limit);
    }
  },
  watch: {
    /** On surveille le compteur d'élements venant des requêtes d'api.
     * Afin de trouver l'offset de la dernière page et de metttre à jour le paginateur en fonction. */
    count: function (value) {
      this.localCount = value;
      this.refreshPaginator();
    },
    /** Est appelé à chaque changement de page. */
    current: function (value) {
      this.offset = (value - 1) * this.limit;
      this.current = value;
      /** Mise à jour du store afin de garder ces infos lors du changement de route. */
      store.commit('setCurrent', this.current);
      store.commit('setOffset', this.offset);
      /** On réalise un emit afin de préciser au composant parent qu'il doit changer de page. */
      this.$emit('game:update', this.offset);
    },
    /** Est appelé à chaque changement du nombre de jeux à afficher par page. */
    limit: function (value){
      this.refreshPaginator();
      // On souhaite garder cette information pour le navigateur.
      localStorage.setItem('limit', this.limit);
      // On met à jour le store.
      store.commit('setLimit', value);
    }
  },
  /** On calcule la page maximum du paginateur une fois le composant créé. */
  created() {
    this.computeMax();
  }
}
</script>

<style scoped>
.paginator{
  padding: 5px;
}
</style>