<template>
  <v-row class="row" cols="12" sm="1" justify="center">
    <v-text-field :autofocus="!$vuetify.breakpoint.smAndDown" v-model="search" @keyup.enter="searchGame" dense label="Enter a game to find." full-width hide-details clearable prepend-icon="mdi-magnify" single-line placeholder="Enter a game to find."></v-text-field>
    <v-btn class="searchButton" color="primary" @click="searchGame">Validate</v-btn>
  </v-row>
</template>

<script>
import store from '../store';

/** Composant de barre de recherche, est utilisé dans le header et dans la page d'accueil.
 * Sa localisation dépend du viewport du navigateur.
 */
export default {
  name: 'SearchBar',
  components: {},
  // Variable stockant la recherche, dépendante du store.
  data: () => ({
    search: store.state.search
  }),
  methods: {
    searchGame() {
      // Mise à jour du store avec la nouvelle valeur de recherche.
      store.commit('setSearch', this.search);
      // On emit sur le composant parent afin qu'il puisse réagir en fonction.
      this.$emit('search:text', this.search);
    }
  }
}
</script>

<style scoped>
.v-btn--active::before, .v-btn:focus::before {
  opacity: 0 !important;
}

.searchButton{
  margin-top: 10px;
  margin-left: 10px;
}

.row{
  align-items: center;
}
</style>