<template>
  <v-snackbar v-model="localShowSnackBar" :timeout="timeout"><slot></slot>
    <template v-slot:action="{ attrs }">
      <v-btn color="blue" text v-bind="attrs" @click="localShowSnackBar = false">Close</v-btn>
    </template>
  </v-snackbar>
</template>

<script>
/** Petit composant "Toast", est appelé depuis différents endroits. */
export default {
  name: 'Toast',
  props: ['state'],
  data: () => ({
    // Permet la gestion d'ouverture - fermeture localement.
    localShowSnackBar: false,
    // Timeout du toast.
    timeout: 2000
  }),
  watch: {
    /** Surveille toute demande d'ouverture - fermeture. */
    state: function (value) {
      this.localShowSnackBar = value;
    }
  }
}
</script>

<style scoped></style>