<template>
  <div id="app" :class="'main scroller '+theme" @scroll.passive='handleScroll'>
    <v-app id="inspire">
      <app-header @login:dialog="login" @search:text="updateGameSearch" @drawer:control="controlDrawer"></app-header>
      <v-navigation-drawer style="overflow: auto !important;" :class="'main scroller '+theme" app v-model="drawer" bottom temporary width="445">
        <app-drawer :search="search"></app-drawer>
      </v-navigation-drawer>
      <v-main :class="(!$vuetify.breakpoint.smAndDown ? 'mt-14' : 'mt-16')">
        <v-container fluid>
          <router-view @search:text="updateGameSearch" :search="search"></router-view>
          <v-btn :class="(!$vuetify.breakpoint.smAndDown) ? 'fab' : 'fabSm'" v-show="fab" fab fixed bottom right color="primary" @click="toTop" class="fab"><v-icon>mdi-chevron-up</v-icon></v-btn>
        </v-container>
      </v-main>
      <app-login :open="triggerLogin"></app-login>
      <v-footer v-if="!$vuetify.breakpoint.smAndDown" app padless fixed :style="(!$vuetify.breakpoint.smAndDown) ? 'margin-right: 17px;' : ''"><app-footer></app-footer></v-footer>
    </v-app>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import NavDrawer from './components/NavDrawer.vue';
import Login from './components/Login.vue';
import Footer from './components/Footer.vue';

/** Composant parent, permet de gérer l'architecture du site. */
export default {
  name: 'App',
  components: {
    'app-header': Header,
    'app-drawer': NavDrawer,
    'app-login': Login,
    'app-footer': Footer
  },
  data(){
    return{
      // Cette variable permet de gérer la recherche de manière globalisée.
      search: '',
      // Permet de gérer l'affichage de drawer.
      drawer: false,
      // Trigger la fenêtre de login.
      triggerLogin: false,
      // Contrôle l'affichage du fab pour remonter la page.
      fab: false
    }
  },
  methods: {
    /** Mise à jour de la recherche. */
    updateGameSearch(txt){
      this.search = txt;
    },
    /** Contrôle du drawer. */
    controlDrawer(value){
      this.drawer = value;
    },
    /** Contrôle du login. */
    login(){
      this.triggerLogin = !this.triggerLogin;
    },
    /** Méthode permettant de contrôler le scroll et d'afficher le fab pour remonter la fenêtre. */
    handleScroll(e) {
      if (typeof window === 'undefined') return;
      const top = window.pageYOffset ||   e.target.scrollTop || 0;
      this.fab = top > 20;
    },
    /** Méthode permettant de faire remonter la fenêtre. */
    toTop () {
      document.getElementById("app").scrollTo({top: 0, behavior: "smooth"});
    }
  },
  computed:{
    /** Permet de retourner le thème vuetify pour l'adaptation de la barre de défilement. */
    theme() {
      return this.$vuetify.theme.dark ? 'dark' : 'light';
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.justifyText {
  text-align: justify;
}

html{
  overflow-y: hidden !important;
}

.main{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mainApp{
  margin-top: 3vh;
}

.fab{
  margin-right: 20px;
  margin-bottom: 48px;
}
.fabSm{
  margin-right: 20px;
  margin-bottom: 20px;
}

.v-application {
  background-color: var(--v-background-base) !important;
}

/** Ensemble de classes css pour gérer la barre de défilement. */

/** Réglage de la taille pour la barre de défilement principale. */
::-webkit-scrollbar {
  width: 17px;
}
/** Réglage de la taille de barre pour les select et auto-complete du drawer. */
.v-menu__content::-webkit-scrollbar {
  width: 12px;
}

/** Fond de barre de défilement en mode light. */
.light::-webkit-scrollbar-track, .light .v-navigation-drawer__content::-webkit-scrollbar-track, .light .v-menu__content::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}
/** Fond de barre de défilement en mode dark. */
.dark::-webkit-scrollbar-track, .dark .v-navigation-drawer__content::-webkit-scrollbar-track, .dark .v-menu__content::-webkit-scrollbar-track {
  background: #202020;
  border-left: 1px solid #2c2c2c;
}

/** Sélecteur de la barre de défilement en mode light. */
.light::-webkit-scrollbar-thumb, .light .v-navigation-drawer__content::-webkit-scrollbar-thumb, .light .v-menu__content::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}
/** Sélecteur de la barre de défilement en mode dark. */
.dark::-webkit-scrollbar-thumb, .dark .v-navigation-drawer__content::-webkit-scrollbar-thumb, .dark .v-menu__content::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 3px #202020;
  border-radius: 7px;
}

/** Sélecteur de la barre de défilement lors de son survol en mode light. */
.light::-webkit-scrollbar-thumb:hover, .light .v-navigation-drawer__content::-webkit-scrollbar-thumb:hover, .light .v-menu__content::-webkit-scrollbar-thumb:hover {
  background: black;
}
/** Sélecteur de la barre de défilement lors de son survol en mode dark. */
.dark::-webkit-scrollbar-thumb:hover, .dark .v-navigation-drawer__content::-webkit-scrollbar-thumb:hover, .dark .v-menu__content::-webkit-scrollbar-thumb:hover {
  background: white;
}

/** Scrollbar pour firefox en mode light. */
.light.scroller {
  scrollbar-color: #b0b0b0 #e6e6e6;
  scrollbar-width: auto;
}
/** Scrollbar pour firefox en mode dark. */
.dark.scroller {
  scrollbar-color: #3e3e3e #202020;
  scrollbar-width: auto;
}
</style>